:root {

    --timer-color: #111111;
    --button-color: #111111;
    --text-color: white;
    --box-shadow: #111111;
    --input-disabled: #111111;
    --bg-color: white;
}


body {
    display: flex;
    align-items: center;
    flex-direction:column;
    overflow: hidden;
    margin-top: 5px;
    background: var(--bg-color);
    
}
.spacing {
    margin-top: 50px;
}



#minutes_timer{
    font-size: 60px;
    font-family: 'Roboto', 'sens-serif';
    width: 70px;
    border: none;
    color: var(--timer-color);
    background: var(--bg-color);
}

#seconds_timer{
    font-size: 60px;
    font-family: 'Roboto', 'sens-serif';
    width: 70px;
    border: none;
    color: var(--timer-color);
    background: var(--bg-color);
}

#double_point{
    font-size: 60px;
    font-family: 'Roboto', 'sens-serif';
    border: none;
    margin: 0px;
    color: var(--timer-color);
    background: var(--bg-color);
}


.start_button {
    align-items: center;
    font-size: 20px;
    font-family: 'Roboto', 'sens-serif';
    color: var(--text-color);
    border-radius: 35px;
    border: none;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    background: var(--button-color);
    letter-spacing: 2px;
    
}

.stop_button {
    margin-top: 20px;
    align-items: center;
    font-size: 20px;
    font-family: 'Roboto', 'sens-serif';
    color: var(--text-color);
    border-radius: 35px;
    border: none;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    background: var(--button-color);
    letter-spacing: 2px;
}

.reset {
    align-items: center;
    font-size: 20px;
    font-family: 'Roboto', 'sens-serif';
    color: var(--text-color);
    border-radius: 35px;
    border: none;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    background: var(--button-color);
    letter-spacing: 2px;
    margin-top: 30px;
    
}
.start_button:hover {
    transform:scale(1.1,1.1);
    transition: ease-in 0.1s;
    box-shadow: 0px 0px 3px var(--box-shadow);
}
.reset:hover {
    transform:scale(1.1,1.1);
    transition: ease-in 0.1s;
    box-shadow: 0px 0px 3px var(--box-shadow);
}
.stop_button:hover {
    transform:scale(1.1,1.1);
    transition: ease-in 0.1s;
    box-shadow: 0px 0px 3px var(--box-shadow);
}

input[disabled] {
    color: var(--input-disabled);
}
input:focus {
    outline: none;
}

#switch {
    visibility: hidden;
    display: none;
}

.check{
    display: block;
    position: relative;
    color: white;
    border-radius: 35px;
    border: none;
    padding-left: 40px;
    padding-right: 60px;
    padding-top: 50px;
    background: #070707;
    overflow: hidden;
    transition: ease-in 0.5s;
}

.check:hover {
    transform:scale(1.1,1.1);
    transition: ease-in 0.1s;
    box-shadow: 0px 0px 3px var(--box-shadow);
}

#switch:checked ~ .check{
    background: white;
    
}
.check::before{
    content: '';
    position: absolute;
    background-color: white;
    top: 4.5px;
    left: 5px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    transition: .6s;
}

#switch:checked ~ .check::before{
    
    transform: translateX(-50px);
}

.check::after{
    content: '';
    position: absolute;
    background-color: black;
    top: 4.5px;
    right: 5px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    transition: .6s;
    transform: translateX(50px);
}

#switch:checked ~ .check::after{
    
    transform: translateX(0px);
}

